<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!--
		
		-->
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<h2>{{message}}</h2>
		
			
		</div>
	</body>
	
	<script>
		const app=new Vue({
			el:"#app",
			data:{
				message:"this is message"
				
			},
			methods:{
				
			}
		
		})
		
		const obj={
			name:"why",
			age:18,
			run:function(){
				console.log("在奔跑");
			},
			eat:function(){
				console.log("在吃东西");
			}
		}
		
		// 属性的增强写法
		const name="why";
		const age=18;
		// es5 的写法
		const obj2={
			name:name,
			age:age
		}
		
		const obj3={
			name,
			age
		}
		
		
		// 函数的增强写法
		const obj4={
			run(){
				
			},
			eat(){
				
			}
		}
		
	</script>
</html>
